 .u-section-1 {
  background-image: url("images/grupadlamaturzystowradzeniesobiezestresem.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }
} .u-section-2 {
  background-image: url("images/grupadlamaturzystowradzeniesobiezestresem11.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 613px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }
} .u-section-3 {
  background-image: url("images/grupadlamaturzystowradzeniesobiezestresem12.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 613px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }
} .u-section-4 {
  background-image: url("images/grupadlamaturzystowradzeniesobiezestresem13.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 613px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }
}