 .u-section-1 {
  background-image: url("images/2024-07-15Dominika_0210.jpg");
  background-position: 100% 15.72%;
}

.u-section-1 .u-sheet-1 {
  min-height: 675px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 313px;
  height: 327px;
  margin: 520px auto 0 28px;
}

.u-section-1 .u-group-1 {
  width: 309px;
  min-height: 144px;
  height: auto;
  margin: -142px auto 0 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 0px 8px rgba(128,128,128,1);
  margin: -209px 792px -52px 43px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 676px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 599px;
    margin-bottom: -51px;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 379px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 89.09% 36.57%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -213px;
    margin-right: 199px;
    margin-bottom: -47px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 49.99% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 27px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 31px;
  }

  .u-section-1 .u-text-1 {
    margin: -214px 0 -46px 35px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 723px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 100%;
  margin: 40px 0 -60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 643px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-btn-1 {
  align-self: center;
  margin: 165px auto 0;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 147px;
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 18px 0 0;
}

.u-section-2 .u-group-elements-1 {
  min-height: 95px;
  margin-top: -70px;
  margin-bottom: 0;
  height: auto;
  width: 627px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-style: italic;
  font-size: 1.25rem;
  margin: 0 20px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 122px;
  height: 116px;
  margin: -97px 0 -65px auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 643px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-group-2 {
  min-height: 642px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-2 .u-text-3 {
  margin: 10px 15px 0 0;
}

.u-section-2 .u-text-4 {
  position: relative;
  margin: 27px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -92px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 651px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 187px;
    margin-top: 0;
    height: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 40px;
  }

  .u-section-2 .u-group-elements-1 {
    min-height: 116px;
    width: 450px;
    margin-top: -53px;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -105px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 651px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 853px;
  }

  .u-section-2 .u-group-1 {
    min-height: 200px;
    margin-top: 116px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-group-elements-1 {
    width: 155px;
    margin-top: -64px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -41px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1033px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 554px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 185px;
  }

  .u-section-2 .u-group-1 {
    min-height: 174px;
    margin-top: 33px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 233px;
    margin-top: -58px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-left: 23px;
  }

  .u-section-2 .u-shape-1 {
    width: 233px;
    margin-top: -80px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 910px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 100%;
  margin: 40px 0 -58px;
}

.u-section-3 .u-layout-cell-1 {
  background-image: none;
  min-height: 808px;
}

.u-section-3 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-3 .u-image-1 {
  height: 270px;
  width: 270px;
  margin: 0 auto 0 143px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 0px 8px rgba(128,128,128,1);
  width: 382px;
  margin: -159px auto 111px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 808px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 18px;
}

.u-section-3 .u-text-2 {
  margin: 32px 40px 10px 0;
}

.u-section-3 .u-text-3 {
  margin: 10px 54px 10px 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  position: relative;
  font-size: 0.875rem;
  margin: 0 54px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1179px;
  }

  .u-section-3 .u-image-1 {
    height: 210px;
    width: 210px;
  }

  .u-section-3 .u-text-1 {
    margin: -123px auto 87px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1173px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 40px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 54px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 39px;
  }

  .u-section-3 .u-text-1 {
    width: 264px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 710px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1283px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -231px;
  }

  .u-section-3 .u-image-1 {
    height: 180px;
    width: 180px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1081px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 830px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 100%;
  margin: 40px 0 -121px;
}

.u-section-4 .u-layout-cell-1 {
  background-image: none;
  min-height: 750px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 18px;
}

.u-section-4 .u-text-1 {
  font-style: italic;
  margin: 19px 26px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #ee432d, #ffd24d);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 750px;
}

.u-section-4 .u-image-1 {
  height: 280px;
  width: 280px;
  margin: 0 auto 0 130px;
}

.u-section-4 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 373px;
  margin: -188px auto 140px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 852px;
  }

  .u-section-4 .u-image-1 {
    height: 300px;
    width: 300px;
    margin-left: 69px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin: -198px 24px 150px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1034px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 18px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 1034px;
  }

  .u-section-4 .u-image-1 {
    height: 210px;
    width: 210px;
    margin-left: 70px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -141px;
    margin-bottom: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-layout-cell-1 {
    order: 1;
    min-height: 678px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    order: 0;
    min-height: 42px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 152px;
  }

  .u-section-4 .u-text-2 {
    width: 268px;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 899px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 29px;
  }

  .u-section-4 .u-image-1 {
    height: 180px;
    width: 180px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 106px;
    margin-left: 134px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 656px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 100%;
  margin: 40px 0 -73px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 576px;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 11px;
  padding-bottom: 60px;
}

.u-section-5 .u-image-1 {
  height: 376px;
  width: 376px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -178px 108px 120px 75px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 576px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-5 .u-text-2 {
  margin: 0 43px 0 0;
}

.u-section-5 .u-text-3 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 0 20px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 23px 23px 0 0;
}

.u-section-5 .u-text-5 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 0 20px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 20px 23px 0 0;
}

.u-section-5 .u-text-7 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 0 20px 0 0;
}

.u-section-5 .u-text-8 {
  margin: 22px 23px 0 0;
}

.u-section-5 .u-text-9 {
  font-style: italic;
  font-size: 1.125rem;
  margin: 0 20px 0 0;
}

.u-section-5 .u-text-10 {
  font-size: 0.875rem;
  margin: 10px 22px 10px -2px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -2px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 647px;
  }

  .u-section-5 .u-image-1 {
    height: 350px;
    width: 350px;
    margin-left: 49px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin: -171px 172px 113px 126px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 647px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: -341px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 676px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-image-1 {
    height: 300px;
    width: 300px;
    margin-top: 159px;
    margin-left: 19px;
  }

  .u-section-5 .u-text-1 {
    margin: -139px 55px 0 19px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 676px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 667px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -67px;
    margin-bottom: -67px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 66px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 250px;
    width: 250px;
    margin-top: -19px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    width: 159px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -55px;
    margin-bottom: -55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 54px;
  }

  .u-section-5 .u-image-1 {
    height: 200px;
    width: 200px;
    margin-top: 0;
    margin-left: 70px;
  }

  .u-section-5 .u-text-1 {
    width: 160px;
    margin-top: 15px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 646px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-text-10 {
    margin-right: 2px;
    margin-bottom: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 548px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 100%;
  margin: 40px 0 -100px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 468px;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 11px;
}

.u-section-6 .u-image-1 {
  width: 270px;
  height: 270px;
  margin: 0 auto 0 139px;
}

.u-section-6 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 240px;
  margin: -207px 165px 63px 154px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 468px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-6 .u-text-2 {
  margin: 0 24px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -418px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 89px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-right: 119px;
    margin-left: 108px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 561px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -78px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-6 .u-image-1 {
    width: 210px;
    height: 210px;
    margin-left: 242px;
  }

  .u-section-6 .u-text-1 {
    margin: -151px 253px 43px 242px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -269px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 109px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    width: 210px;
    margin: 0 auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -98px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 73px;
  }

  .u-section-6 .u-image-1 {
    width: 180px;
    height: 180px;
    margin-top: 16px;
    margin-left: 70px;
  }

  .u-section-6 .u-text-1 {
    width: 134px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 461px;
  }
} .u-section-7 {
  background-image: linear-gradient(45deg, #f8b1a8, #ffe599);
}

.u-section-7 .u-sheet-1 {
  min-height: 22px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 45px;
  }
}